.header-full-wrapper {
	position: relative;
	z-index: 1000;
	width: 100%;
	height: 7em;
	background-color: $mainColor;
	box-shadow: 0 0.4em 0.1em 0 $negro;

	.header-content {
		font-size: 1rem;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo-wrapper {
			color: $blanco;

			.logo-header {
				width: 7em;
			}
		}

		.right-menu-header {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.icon-links {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;

				div:not(:first-child) {
					margin-left: 1.3em;
				}

				a {
					color: $blanco;
					transition: all 0.4s;

					&:hover {
						color: $negro;
					}

					i {
						font-size: 1.3em;
					}
				}

				.search-header {
					// width: 200px;
					display: flex;
					justify-content: space-between;
					color: $blanco;

					&:hover {
						border: 2px solid $blanco;
						border-radius: 1em;

						.search-form {
							input {
								opacity: 1;
								width: 18em;
							}
						}
					}

					.search-form {
						width: 100%;
						display: flex;
						justify-content: space-between;
						padding: 0.4em;
						transition: all 0.4s;
						font-family: $font3;

						.header-courses-input {
							opacity: 0;
							background-color: transparent;
							border: none;
							width: 0;
							padding: 0 0.4em;
							caret-color: $blanco;
							color: $blanco;
							font-family: $font4;
							// font-weight: bold;
							letter-spacing: .1em;
							transition: all 0.4s;

							&:focus {
								outline: none;
							}

							&::placeholder {
								opacity: 1;
							}
						}

						button {
							border: none;
							background-color: transparent;
							color: $blanco;
							cursor: pointer;
							transition: all 0.4s;

							&:hover {
								color: $negro;
							}

							i {
								font-size: 1.3em;
								font-weight: 700;
							}
						}
					}
				}
			}

			.cart-header {
				position: relative;

				&:hover {
					.tooltip-text-cart {
						visibility: visible;
						opacity: 1;
					}
				}

				.tooltip-text-cart {
					visibility: hidden;
					width: 7em;
					background-color: $negro;
					color: $blanco;
					font-family: $font4;
					text-align: center;
					border-radius: .5em;
					padding: .3em 0;
					position: absolute;
					z-index: 1;
					bottom: 155%;
					left: 50%;
					margin-left: -3.5em;
					opacity: 0;
					transition: opacity 0.3s;

					&::after {
						content: '';
						position: absolute;
						top: 100%;
						left: 50%;
						margin-left: -.3em;
						border-width: .4em;
						border-style: solid;
						border-color: $negro transparent transparent transparent;
					}
				}
			}

			.login-header {
				position: relative;

				&:hover {
					.tooltip-text-cart {
						visibility: visible;
						opacity: 1;
					}
				}

				.tooltip-text-cart {
					visibility: hidden;
					width: 7em;
					background-color: $negro;
					color: $blanco;
					font-family: $font4;
					text-align: center;
					border-radius: .5em;
					padding: .3em 0;
					position: absolute;
					z-index: 1;
					bottom: 155%;
					left: 50%;
					margin-left: -3.5em;
					opacity: 0;
					transition: opacity 0.3s;

					&::after {
						content: '';
						position: absolute;
						top: 100%;
						left: 50%;
						margin-left: -.3em;
						border-width: .4em;
						border-style: solid;
						border-color: $negro transparent transparent transparent;
					}
				}
			}

			.blog-link {
				margin-left: 20px;

				a {
					font-family: $font3;
					font-weight: 600;
					font-size: 1.3rem;
					letter-spacing: 0.2em;
					text-decoration: none;
					color: $blanco;
					transition: all 0.4s;

					&:hover {
						color: $negro;
					}
				}
			}
		}
	}
}
