* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// basic imports
@import './fonts';
@import './colors';

// sections
@import './header';

.container12 {
    width: 960px;
    margin: 0 auto;
}

.test_container {
    p {
        font-family: $font3;
        background-color: $mainColor;
    }
}