* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// basic imports
@import './fonts';
@import './colors';

// sections
@import './header';
@import './footer';
@import './index';
@import './login';
@import './loginUsuario';
@import './courses';
@import './carrito';

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

.container12 {
	width: 1140px;
	margin: 0 auto;
}

html,
body {
	height: 100%;
    min-height: 100vh;
	background-color: $blanco;
}
