<div class="header-full-wrapper">

    <div class="header-content container12">

        <!-- HEADER LOGO -->
        <div class="logo-wrapper">
            <a href="index.html"><img class="logo-header" src="/ProyectoFinal/static/images/logo.png" alt="E-Future logo"></a>
        </div>

        <!-- HEADER BLOQUE DERECHO -->
        <div class="right-menu-header">
            <div class="icon-links">
                <div class="search-header">
                    <form action="" class="search-form">
                        <input type="text" name="search" id="" tabindex="16" placeholder="Buscar cursos...">
                        <button type="submit"><i class="far fa-search"></i></button>
                    </form>
                </div>
                <div class="cart-header">
                    <a href="#"><i class="far fa-shopping-cart"></i></a>
                </div>
                <div class="login-header">
                    <a href="#"><i class="fad fa-sign-in-alt"></i></a>
                </div>
            </div>
            <div class="blog-link">
                <a href="#">BLOG</a>
            </div>
        </div>
    </div>
</div>
